<header class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <div id="logo" class="navbar-brand"><%= link_to "Read-Itt", root_path %></div>
        <nav class="collapse navbar-collapse navbar-ex1-collapse">
        	<% if user_signed_in? -%>
				<ul class="nav navbar-nav navbar-right">
					<li class="menu-li"><%= link_to 'Submit link', new_link_path %></li>
					<li class="menu-li"><%= link_to 'Account', edit_user_registration_path %></li>
					<li class="menu-li"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
				</ul>
			<% else -%>
				<ul class="nav navbar-nav pull-right">
					<li class="menu-li"><%= link_to 'Sign up', new_user_registration_path %></li>
					<li class="menu-li"><%= link_to 'Sign in', new_user_session_path %></li>
				</ul>
			<% end -%>
        </nav>
      </div>
    </div>
</header>